* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.h3, .h4, h3, h4 {
    font-size: 1.4rem;
    font-weight: 400;
}

ul {
    list-style: none;
}


.link, a {
    text-decoration: none;
    color: #e95d0f;
}

button {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: 0 0;
    border: solid 1px #d1cac7;
    font-family: inherit;
    font-size: inherit;
    color: currentColor;
    border-radius: 2px;
    line-height: 38px;
    padding: 0 8px;
    text-align: center;
    cursor: pointer;
    outline: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.cr {
    margin: 0 auto;
    width: 1170px;
    padding-left: 40px;
    padding-right: 40px;
}


.detail__id {
    float: left;
    position: relative;
    top: 7px;
}

.detail__id::before {
    content: "ID " attr(data-id);
    line-height: 24px;
    margin-right: 24px;
    background: #93ad20;
    display: block;
    padding: 0 6px 0 12px;
    border-radius: 12px 2px 2px 12px;
    color: #fff;
    font-size: .9rem;
}

.detail__id::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 0;
    border-color: #93ad20 transparent;
    transform: rotate(-90deg);
    top: 6px;
    right: 7px;
}

.detail__title {
    font-size: 32px !important;
    line-height: 1.125 !important;
    font-weight: 400 !important;
}


.catalog-detail-location {
    display: flex;
    font-size: 16px;
    padding-bottom: .5rem;
    align-items: center;
    justify-content: space-between;
}

.catalog-detail-location__item::before {
    content: ',';
    padding: 0 .5rem 0 0;
    color: initial;
    opacity: .75;
    text-decoration: none;
}

.catalog-detail-location__item-first::before {
    content: '';
}

.catalog-detail-location__part {
    display: flex;
}

.catalog-detail-location__aside-part {
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

/* галерея */

.catalog-element-media {
    min-height: 1px;
    float: left;
    width: 75%;
    padding: 0 8px;
    position: relative;
}

.catalog-element-media__preview {
    height: 522px;
    position: relative;
    background-size: cover;
    overflow: hidden;
    border-radius: 8px 8px 3px 3px;
}

.catalog-element-media__preview-picture-container {
    position: relative;
    height: 100%;
}

.catalog-element-media__preview img {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 3px 3px;
    object-fit: cover;
    object-position: center;
}


.catalog-element-media__slider-control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    border: 0;
    z-index: 100;
}


.catalog-element-media-controls {
    background: 0 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease-out;
    color: white;
    font-size: 32px;
}


.catalog-element-media__resize {
    position: absolute;
    left: 25%;
    top: 0;
    width: 50%;
    height: 100%;
    border: 0;
    border-radius: 0;
}

.catalog-element-media__slider-control.prev {
    left: 0;
    border-radius: 8px 0 0 8px;
}


.catalog-element-media__slider-control.next {
    right: 0;
    border-radius: 0 8px 8px 0;
}


.catalog-element-media__slider-control.prev:hover, .catalog-element-media__resize:hover, .catalog-element-media__slider-control.next:hover {
    opacity: 1;
    transition: opacity .2s ease-out;
}


.catalog-element-media__thumbs {
    display: flex;
    margin-top: 4px;
}

.catalog-element-media__thumbs-layout {
    height: 84px;
    overflow: hidden;
    position: relative;
    flex: 1;
    border-radius: 3px;
}

#catalog-element-media__thumbs-scroll {
    left: 0px;
}

.catalog-element-media__thumbs-scroll {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    padding-bottom: 2rem;
}

.catalog-element-media__thumb.active {
    opacity: .5;
}

.catalog-element-media__thumb {
    width: 80px;
    height: 80px;
    min-width: 80px;
    max-width: 80px;
    border-radius: 3px;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
    position: relative;
    transform: scale(1);
    margin-right: 5px;
}

.catalog-element-media__thumb img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

/* цена и список агентов*/

.catalog-detail-aside {
    height: 606px;
    flex-direction: column;
}

.catalog-detail-aside {
    display: flex;
}


.catalog-detail-props__top {
    margin-bottom: 8px;
    padding: 24px;
    border-radius: 8px;
    background: #ffff;
    box-shadow: 0 4px 24px #ddd8d5;
}

.catalog-detail-props__top-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.catalog-detail-props__actions {
    display: flex;
}

.catalog-detail-props__action-favorite {
    background: #F26E27;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.catalog-detail-props__action-favorite > img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

/*стоимость*/
.catalog-detail-props__top-price-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 4px;
}

.catalog-detail-props .value {
    font-weight: 700;
}

#currency-target-value {
    font-size: 32px;
}

.catalog-detail-props__top-price .unit {
    font-weight: 600;
}

.catalog-detail-props__top-price .unit .unit-change {
    display: inline-block;
    padding: 0 .25rem;
    border-radius: 3px;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
}

/*цена м2 */
.catalog-detail-props .value {
    font-weight: 700;
    font-size: 20px;
}

.catalog-detail-props__top-price-alt .unit {
    font-weight: 400;
    font-size: 14px;
}

/* цена в ипотеку */
.catalog-detail-props__top-mortgage {
    font-size: 14px;
    padding-top: 8px;
    line-height: 1;
    position: relative;
}

.catalog-detail-props__top-mortgage a {
    font-weight: 600;
    display: inline-block;
    border-bottom: dotted 1px;
}

.catalog-detail-props__top-mortgage a {
    font-weight: 600;
    display: inline-block;
    border-bottom: dotted 1px;
}

/*Заказать показ*/
.catalog-detail-props__top-block .catalog-detail-props__top-block-callback {
    margin: 20px 0 0;
}

.catalog-detail-props__callback {
    color: #fff;
    background: #f26e27;
    border: 0;
    transition: .2s;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: .021em;
    font-size: 15px;
}

button.catalog-detail-props__online-callback {
    white-space: nowrap;
    margin-top: 8px;
    border: 0;
    background: #69bae6;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
}

/* агенты */
.catalog-detail-agents {
    padding-top: 1rem;
}

.catalog-detail-agents__item {
    height: 130px;
    border-radius: 3px;
    display: flex;
}

.catalog-detail-agents__media {
    height: 100%;
    border-radius: 3px;
    width: 96px;
    min-width: 96px;
}

.catalog-detail-agents__media > img {
    object-fit: cover;
}

.catalog-detail-agents__detail {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.catalog-detail-agents__link {
    font-size: 16px;
    line-height: 1.25;
    display: block;
    font-weight: 600;
}

.catalog-detail-agents__work-position {
    padding-top: 2px;
    font-size: 11px;
    line-height: 1.25;
    display: block;
}

.catalog-detail-agents__btm {
    margin-top: 12px;
    display: grid;
    grid-gap: 4px;
    margin-left: 0;
}

.catalog-detail-agents__agent-action-buttons {
    display: inline-grid;
    grid-template-columns: repeat(3, min-content);
    grid-column-gap: 4px;
}

/* кнопки связи с агентом */

.catalog-detail-agents button {
    font-size: 13px;
    line-height: 30px;
}

.catalog-detail-agents__agent-action-button--message {
    background: #F4F2F1;
    color: #8c7b73;
}

.catalog-detail-agents__agent-action-button {
    width: 32px;
    height: 32px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
    transition: 0.2s;
}

.catalog-detail-agents__agent-action-button--whatsapp {
    background: #25D366;
    color: #FFF;
}

.catalog-detail-agents__agent-action-button--phone {
    background: #F26E27;
    color: #FFF;
}


/* Описание */

.description-props__wrapper {
    padding: 0 40px;
    border-radius: 8px;
    margin-top: 1rem;
}

.description-props {
    display: flex;
}

.description-props {
    margin: 0 -40px;
}

.description-props__column {
    padding: 0 40px;
    width: 50%;
}

dl.description-props__item {
    display: flex;
    border-bottom: dotted 1px #ddd8d5;
    line-height: 40px;
    justify-content: space-between;
}

dl.description-props__item {
    line-height: 40px;
}

/* Табы описание, на карте, юр инфо, похожие */

.detail__tabs {
    position: relative;
    z-index: 4;
}

.detail .detail__tabs {
    padding-top: 24px;
    margin-bottom: 16px;
}

.tabs__blocks {
    clear:both;
}

.detail .tabs .tabs__list {
    padding-bottom: 12px;
    float: left;
    position: relative;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
}

.detail .tabs .tabs__list-item:not(:last-child) {
    margin-right: -1px;
}

.detail .tabs .tabs__list-item {
    float: left;
}


.detail .tabs .tabs__list-item:first-child .tabs__list-toggle {
    border-radius: 2px 0 0 2px;
}

.detail .tabs .tabs__list-toggle.active {
    position: relative;
    z-index: 1;
    background-color: #f4f2f1;
}

.detail .tabs .tabs__list-toggle {
    font-size: 1rem;
    color: inherit;
    display: block;
    line-height: 38px;
    padding: 0 16px 0 40px;
    border: solid 1px #d1cac7;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.detail .tabs .tabs__item.show {
    visibility: visible;
    overflow: visible;
    height: auto;
    opacity: 1;
    transform: translateY(0);
    border: solid 1px #ddd8d5;
}

.detail .tabs .tabs__item {
    visibility: hidden;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: transform .2s ease-out, opacity .4s ease-out;
    opacity: 0;
    transform: translateY(20px);
    border-radius: 2px;
}

.detail .tabs .tabs__item.show > * {
    position: static;
}

/* описание */

.detail-description-block {
    padding: 10px;
}


/* юридическая информация*/
.detail-similar-block #legal-services {
    margin: 0 -.5rem;
}
#legal-services {
    display: flex;
}

.legal-services__item {
    display: block;
}

.legal-services__title {
    padding: 1rem;
    border-bottom: solid 1px #ddd8d6;
}

.detail-similar-block #legal-services {
    margin: 0 -.5rem;
}

.legal-services__main {
    width: 66.66667%;
    padding: 0 .5rem;
}

.detail-similar-block li.legal-services__item {
    border-right: none;
}
.legal-services__item:first-child {
    border-radius: 2px 2px 0 0;
}
.detail-similar-block .legal-services__item {
    border: 0;
}
.legal-services__item {
    padding: 1rem;
    border: solid 1px #ddd8d5;
}

.legal-services-path li {
    display: inline-block;
    padding: 0 .5rem;
    border-radius: 2px;
    margin-right: .25rem;
    margin-bottom: .25rem;
    background-color: #f4f2f1;
}

.legal-services__item-title {
    font-size: 1.2rem;
}

.legal-services-doc {
    margin-top: 1rem;
}

.legal-services-doc__item {
    padding-left: 1rem;
    position: relative;
    font-size: .8rem;
    line-height: 1.14;
}

.legal-services-doc__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: .4rem;
    width: 6px;
    height: 6px;
    background: #f06419;
    border-radius: 3px;
    transform: translate(0,-50%);
}

.detail-similar-block .legal-services__item + .legal-services__item {
    border-top: solid 1px #ddd8d6;
}
.detail-similar-block li.legal-services__item {
    border-right: none;
}
.legal-services__item + .legal-services__item {
    margin-top: -1px;
}

.legal-services__desc {
    padding: 1rem 1rem 1rem 3.5rem;
    color: #e95d0f;
    font-weight: 600;
    border: dashed 1px #e95d0f;
    border-radius: 4px;
    letter-spacing: .02em;
    position: relative;
}
.legal-services__desc {
    font-size: .9rem;
    line-height: 1.14;
    font-style: italic;
    margin-top: 1rem;
}

.legal-services__desc::before {
    content: '';
    position: absolute;
    left: 1rem;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuNzg3IDIxLjEwM2wtMTAtMTkuOTk3QTEuOTg1IDEuOTg1IDAgMCAwIDExLjk5OSAwYy0uNzY2IDAtMS40NS40MjUtMS43ODggMS4xMDZsLTEwIDE5Ljk5N0EyLjAwMiAyLjAwMiAwIDAgMCAxLjk5OCAyNGgyMGEyLjAwMiAyLjAwMiAwIDAgMCAxLjc4Ny0yLjg5N3pNMiAyMkwxMiAybDEwIDIwSDJ6bTIwIDBzLjAwMyAwIDAgMGMuMDAzIDAgMCAwIDAgMHoiIGZpbGw9IiNlOTVkMGYiIC8+PHBhdGggZD0iTTExLjU1MyA1LjEyOEwzLjk4MSAyMC4yNzVhLjUuNSAwIDAgMCAuNDQ3LjcyNEg5di0xSDUuMjM4TDEyIDYuNDcxbDYuNzYyIDEzLjUyOEgxNXYxaDQuNTcyYS41LjUgMCAwIDAgLjQ0Ny0uNzI0TDEyLjQ0NyA1LjEyOGEuNS41IDAgMCAwLS44OTQgMHoiIGZpbGw9IiNlOTVkMGYiIC8+PHBhdGggZD0iTTExIDExaDJ2N2gtMnYtN3pNMTEgMTloMnYyaC0ydi0yeiIgZmlsbD0iI2U5NWQwZiIgLz48L3N2Zz4=);
    background-size: 1.5rem;
    transform: translate(0,-50%);
}

/* юр информация фильтр */
.legal-services__aside {
    margin-left: -.5rem;
    padding: 1rem;
    border-left: solid 1px #ddd8d6;
    background: #f4f2f1;
}
.legal-services__aside {
    width: 33.33333%;
}

.legal-services__aside .collapse {
    box-shadow: 0 4px 8px -4px rgba(0,0,0,.1);
}

.collapse {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,.1);
}

.legal-services__aside .collapse__header {
    background-color: transparent;
}
.collapse__header {
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #fff;
    border-radius: 2px 2px 0 0;
    transition: background-color .1s;
}

.collapse__header span {
    font-size: .8rem;
    line-height: 1.4rem;
    padding: 0 .75rem;
    border-radius: .75rem;
    box-shadow: 0 0 0 1px #bab0ab;
    color: #bab0ab;
    transition: .2s;
    font-weight: 600;
    letter-spacing: .02em;
}

.collapse .collapse__body {
    border-top: solid 1px #f4f2f1;
    padding: 1rem;
}

.filter__title {
    margin: 1rem 0 .125rem;
    font-size: .8rem;
    opacity: .75;
    position: relative;
}

.filter__footer button, .filter__title {
    font-weight: 600;
    letter-spacing: .02em;
    color: #7d6e67;
}

.filter__title span {
    position: relative;
    z-index: 2;
    padding-right: .5rem;
    background-color: #fff;
}

.segment {
    display: flex;
    white-space: nowrap;
}

.segment__item.first {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.segment__item.last {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.segment__item:not(:last-child) {
    margin-right: -1px;
}
.segment__item {
    display: block;
    line-height: 2.5rem;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 0;
    box-shadow: inset 0 0 0 1px #7e6f67;
    color: #7e6f67;
    font-size: .9rem;
    font-weight: 600;
    -webkit-user-select: none;
    user-select: none;
    padding: 0 1rem;
    cursor: pointer;
}